.formtitle {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 800;
    color: purple;
}

.highcontrast .form-title,
.material-dark .form-title,
.fabric-dark .form-title,
.bootstrap-dark .form-title,
.bootstrap5-dark .form-title,
.tailwind-dark .form-title,
.fluent-dark .form-title  {
    color: #fff;
}

.e-error,
.e-float-text {
    font-weight: 500;
}

.e-custom-label {
    font-size: 14px;
    font-weight: 500;
    margin-left: 20px;
}

form {
    padding-top: 20px;
    margin-bottom: 45px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.36);
    border-radius: 5px;
    background: #f9f9f9;
}

.highcontrast form,
.highcontrast .header {
    color: #fff;
    background: #000000;
}

.header {
    color: rgba(0, 0, 0, 0.7);
}

table,
td,
th {
    padding: 5px;
}

.form-horizontal .form-group {
    margin: 20px;
}

.row {
    padding-bottom: 30px;
    padding-top: 25px;
}

.highcontrast .form-horizontal,
.material-dark .form-horizontal,
.fabric-dark .form-horizontal,
.bootstrap-dark .form-horizontal,
.bootstrap5-dark .form-horizontal {
    background: #393939;
}
.tailwind-dark .form-horizontal { 
    background: #6c757d;
}

.fluent-dark .form-horizontal { 
    background: #212529;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-label {
    color: rgba(0,0,0,.42);
}

.checkbox-list {
    list-style: none;
}