.table-container {
    padding: 16px;
    margin: 32px;
}

.grid-container {
    margin: auto;
    max-width: 1024px;
    display: flex;
    justify-content: center;
}

.formtitle {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 800;
    color: purple;
}